{% extends "layout.html" %}


<body>
    <header>
        {% block header %}
        <div class="logo" id="home">
            <a href="./index.html"><img src="./static/assets/niji-logo.png" alt=""></a>
        </div>
        <div class="nav-toggle" aria-label="toggle navigation">
            <span class="hamburger"></span>
        </div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="./index.html#about" class="nav__link">わたしたちのこと</a></li>
                <li class="nav__item"><a href="./index.html#blog" class="nav__link">おしらせBlog</a></li>
                <li class="nav__item"><a href="./contact.html#contactus" class="nav__link">お問合せ</a></li>
                <li class="nav__item"><a href="./booking.html" class="nav__link">あそびの予約</a></li>
                <li class="nav__item"><a href="./login.html" class="nav__link">ログイン</a></li>    
                
            </ul>
        </nav>
        {% endblock %}
    </header> 

    {% block content %}
    <div class="content-section">
        <form  id = "myForm" method="POST" action="">
            <div class="title-login"><h1>パスワードを忘れた場合</h1></div>
            <div class="reset-description">パスワードをリセットします。ちっちヨーガで登録しているメールアドレスを入力してください</div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
   
    <hr>
    <!-- footer -->
    {% block footer %} {% endblock %}


    <script src="./static/main.js"></script>
</body>
</html>






















