{% extends "layout.html" %}


    <body>
        <header>
            {% block header %}
            <div class="logo" id="home">
                <a href="./index.html"><img src="./static/assets/niji-logo.png" alt=""></a>
            </div>
            <div class="nav-toggle" aria-label="toggle navigation">
                <span class="hamburger"></span>
            </div>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="./index.html#about" class="nav__link">わたしたちのこと</a></li>
                    <li class="nav__item"><a href="./index.html#blog" class="nav__link">おしらせBlog</a></li>
                    <li class="nav__item"><a href="./contact.html#contactus" class="nav__link">お問合せ</a></li>
                    <li class="nav__item"><a href="./booking.html" class="nav__link">あそびの予約</a></li>
                    <li class="nav__item"><a href="./login.html" class="nav__link">ログイン</a></li>
        
                </ul>
            </nav>
            {% endblock %}
        </header> 


        {% block content %}
        <div class="div" style="height: 400px;">
            welcome to my page 
        </div>
        
        <hr>

        {% endblock %}
        <!-- footer -->
        <footer>
            <div class="fotbar">
                <div class="right">
                    <div class="cpr">© 2022 ちっちヨーガ</div>
                </div>
                

                <ul class="social-list">
                    <li ><a href="social-list__link" class="fab fa-instagram" style="font-size:24px"></a></li>
                    <li ><a href="social-list__link"class="fa fa-facebook-square" style="font-size:24px"></a></li>
                    <li ><a href="social-list__link"class="fa-brands fa-line" style="font-size:24px"></a></li>
                    <li ><a href="social-list__link"class="fab fa-youtube" style="font-size:24px"></a></li>
                </ul>

            </div>
           
        </footer>

        <script src="./static/main.js"></script>
    </body>
</html>

